<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full bg-[#494D55] md:shadow-md md:shadow-black sm:translate-x-0 dark:border-gray-700 dark:bg-[#0F172A]" [class.dark]="darkModeEnabled" aria-label="Sidebar">
  <div class="h-[5rem] p-2 bg-[#42B9BE] text-center hover:cursor-pointer" (click)="doIt()" routerLink="/client/list">
    <i class="fa-solid fa-staff-snake text-white text-3xl"></i>
    <p class="text-white text-xl font-bold font-serif">Health Monitoring</p>
  </div>
  <div class="h-full w-full px-0 pb-4 overflow-y-auto bg-[#494D55] dark:bg-gray-800">
    <ul class="font-semibold">
        <li *ngFor="let item of sidebarItems">
           <a routerLink="{{item.link}}" [class.active-light]="item.isActiveLight" [class.active-dark]="item.isActiveDark" (click)="setActiveItem(item)" class="flex items-center h-[3rem] p-2 text-gray-900 w-full  hover:bg-[#31343A] dark:text-gray-100 dark:hover:bg-gray-700">
              <i *ngIf="darkModeEnabled" class="fa-solid {{item.icon}} text-xl dark:text-gray-200 text-gray-700"></i>
              <i *ngIf="!darkModeEnabled" class="fa-solid {{item.icon}} text-xl dark:text-gray-200 text-[#C8CACC]"></i>
              <span *ngIf="darkModeEnabled" class="ml-3 text-black dark:text-gray-200">{{ item.title }}</span>
              <span *ngIf="!darkModeEnabled" class="ml-3 text-[#C8CACC]">{{ item.title }}</span>
           </a>
        </li>
        <li>
            <button (click)="toggleDarkMode()" class="flex items-center p-2 text-[#C8CACC] dark:text-white w-full hover:bg-[#31343A] dark:hover:bg-gray-700">
                <i *ngIf="darkModeEnabled" class="fa-regular fa-moon text-xl text-white"></i>
                <i *ngIf="!darkModeEnabled" class="fa-solid fa-moon text-xl text-[#C8CACC]"></i>
                <span *ngIf="!darkModeEnabled" class="ml-4 whitespace-nowrap">Dark mode</span>

                <span *ngIf="darkModeEnabled" class="ml-4 whitespace-nowrap">Light mode</span>


                </button>

        </li>

     </ul>
  </div>
</aside>

